.header-library{
    padding: 40px 0 60px;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)), url('../images/library/backfon-library@1x.jpg');
    max-width:1600px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
         background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)), url('../images/library/backfon-library@2x.png');
    }
   @media(min-width: 768px){
        padding:45px 0 60px;
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)), url('../images/library/bg-library-tablet@1x.png');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)), url('../images/library/bg-library-tablet@2x.png');

        }
    }
    @media(min-width: 1280px){
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)), url('../images/library/bg-desktop-library-hd@1x.png');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.56),rgba(0,0,0,0)), url('../images/library/bg-desktop-library-hd@2x.png');

        }
    }
  
}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo__icon{
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 60px;
}

.logo__text{
    display: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    @media(min-width:768px){
        display: block;
        color: #ffffff;
        margin-bottom: 60px;
        margin-left:10px;
    }
}

.nav__list{
    display: flex;
}

.nav__item{
   margin-bottom: 60px;
    &:first-child{
        margin-right: 40px;
    }

}

.nav__link{
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.17;
    color: #ffffff;
    text-decoration: none;

    position: relative;
    &--current::after{
        content: '';
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #FF001B;
    }
}
.btn__list{
    display: flex;
    justify-content: center;
    gap:20px;
    @media(min-width:768px){
        gap:32px
    }
}
.btn{
    width:130px;
    height: 44px;
    font-family:Roboto,sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    border:1px solid #ffffff;
    border-radius: 5px;
    color:#ffffff;

    &:active,&:focus{
        background: #FF6B01;
        box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
        border: none;
    }
    @media(min-width:768px){
        width: 152px;
    }

}
