<footer class="footer">
  <div class="container footer__info">
    <p class="footer__text">&#169; 2020 | All Rights Reserved |</p>
    <div class="footer__wrap">
      <p class="footer__text">Developed with</p>

      <p class="footer__text">
        <svg class="footer__icon" width="14px" height="13px">
          <use href="./images/symbol-defs.svg#icon-heart"></use></svg
        >by<span id="click" class="footer__ref" data-action="open-lightbox"
          >GoIT Students</span
        >
      </p>
    </div>
  </div>
</footer>
