<div class="lightbox js-lightbox visually-hidden">
  <div class="lightbox__content">
    <button
      type="button"
      class="lightbox__button button-close"
      data-action="close-lightbox"
    >
      <svg width="15px" height="14px" class="close-modal-button">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team-cards">
      <ul class="team-list">
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/AndriiBogomolov.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">
            Andrii<br />
            Bogomolov
          </h2>
          <p class="role">Team Lead</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/ViktoriiaVelhan.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">Viktoriia<br />Velhan</h2>
          <p class="role">Scrum Master</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/PavloFastovets.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">Pavlo<br />Fastovets</h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/AllaYakovenko2.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">
            Alla<br />
            Yakovenko
          </h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/KostiantynBugayenko.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">Kostiantyn<br />Bugayenko</h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/IrynaKachan.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">Iryna<br />Kachan</h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/OleksandrDeoneha.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">Oleksandr<br />Deoneha</h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/Iryna.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">
            Iryna<br />
            Kolomoiets
          </h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/IvanValov.jpg"
            alt="Фронтенд разработчик"
            width="180px"
            height="240px"
          />
          <h2 class="team-name">Ivan<br />Valov</h2>
          <p class="role">Developer</p>
        </li>

        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/ViktoriiaParasiuk.jpg"
            alt="Фронтенд разработчик"
            width="180"
            height="240"
          />
          <h2 class="team-name">Viktoriia<br />Parasiuk</h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/StanislavKovalenko.jpg"
            alt="Фронтенд разработчик"
            width="180"
            height="240"
          />
          <h2 class="team-name">
            Stanislav<br />
            Kovalenko
          </h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/MarynaPotiievska.jpg"
            alt="Фронтенд разработчик"
            width="180"
            height="240"
          />
          <h2 class="team-name">Maryna<br />Potiievska</h2>
          <p class="role">Developer</p>
        </li>
        <li class="team-cards__dev">
          <img
            class="team-photo"
            src="./images/photo-team/VolodymyrPavlov.jpg"
            alt="Фронтенд разработчик"
            width="180"
            height="240"
          />
          <h2 class="team-name">Volodymyr<br />Pavlov</h2>
          <p class="role">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
