<header class="header">
  <div class="container">
    <div class="container-nav">
      <a class="logo-main" href="index.html">
        <svg class="logo-main__icon">
          <use href="./images/header/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="logo-main__name">Filmoteka</span>
      </a>

      <nav class="container-nav__link">
        <ul class="menu-nav list">
          <li class="menu-nav__item">
            <a
              href="./index.html"
              class="menu-nav__link menu-nav__link--current"
              >HOME</a
            >

            <!-- <a
              href="./index.html"
              class="menu-nav__link menu-nav__link--current"
              >HOME</a
            > -->
          </li>
          <li class="menu-nav__item">
            <a href="./library.html" class="menu-nav__link">MY LIBRARY</a>
          </li>
          <!-- <li class="menu-nav__item">
            <button
              class="menu-nav__link menu-nav__button"
              type="button"
              data-modal-open
            >
              SIGN IN
            </button>
          </li> -->
        </ul>

        <!-- <div class="backdrop is-hidden" data-modal>
          <div class="modal">
            <form class="login-form" name="service-form" autocomplete="on">
              <h2 class="login-form__title">Sign in</h2>

              <div class="form-field">
                <div class="form-field__container">
                  <input
                    class="form-field__input"
                    type="email"
                    name="mail"
                    id="user_email"
                    placeholder="E-mail"
                    required
                  />
                </div>
              </div>

              <div class="form-field">
                <div class="form-field__container">
                  <input
                    class="form-field__input"
                    type="password"
                    name="password"
                    id="user_password"
                    minlength="5"
                    maxlength="10"
                    placeholder="Password"
                    required
                  />
                </div>
              </div>

              <button class="login-form__button" type="submit">
                forgot password ?
              </button>
              <button class="login-form__button" type="submit" data-modal-close>
                Sign in
              </button>
            </form>
          </div>
        </div> -->
      </nav>
    </div>

    <form class="search-form" id="search-form">
      <div class="search-form__container">
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          id="searchQuery"
          placeholder="Movie search"
          autocomplete="off"
        />
        <button class="search-form__button" type="submit">
          <svg class="search-form__icon">
            <use href="./images/header/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </div>
    </form>
    <div>
      <label for="search-form__input" class="error-text"
        >Search result not successful. Enter the correct movie name and</label
      >
    </div>
  </div>
</header>
