
  <body>
    <header class="header-library overlay">
      <div class="container">
        <div class="nav__wrapper">
          <div class="logo__wrapper">
            <a href="./index.html" class="logo__link">
              <svg class="logo__icon">
                <use xmlns href="./images/library-head-img/icon/icon.svg#icon-film"></use>
              </svg>
            </a>
            <span class="logo__text"> Filmoteka </span>
          </div>

          <ul class="nav__list">
            <li class="nav__item">
              <a href="./index.html" class="nav__link link">Home</a>
            </li>
            <li class="nav__item">
              <a href="./library.html" class="nav__link nav__link--current link"  id="library-link"
                >my library</a
              >
            </li>
          </ul>
        </div>
        <div class="btn-thumb">
          <ul class="btn__list">
            <li class="btn__item">
              <button type="submit" class="btn-watch btn-active btn">Watched</button>
            </li>
            <li class="btn__item">
              <button type="submit" class="btn-queue btn">Queue</button>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
