<!-- main  -->
<section class="section">
  <div class="container">
    <ul class="card list">
      <li class="card__item item">
        <a class="card__link link" href="#" id="" data-film-open>
          <div class="card__thumb">
            <img
              sizes="(min-width: 1200px) 370px, (min-width: 768px) 354px, (max-width: 767px) 450px, 100vw"
              src="./images/card/no_poster.png"
              alt="tehnocryak"
              width="100%"
            />
          </div>
          <div class="card__meta">
            <h2 class="card__heading">NAME</h2>
            <p class="card__lead">genre | year</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
