<!-- main -->
<main>
    <section class="section">
        <div class="container">
            <ul class="film list">
                <li class="film__item">
                  <a class="film__link" href="#" data-card-open>
                    <img
                      
                        sizes="(min-width: 1200px) 370px, (min-width: 768px) 354px, (max-width: 767px) 450px, 100vw"
                        src="./images/card/no poster.png"
                        alt="poster"
                        width="100%"
                      />
                    <div class="film__meta">
                      <h2 class="film__heading">NAME</h2>
                      <p class="film__lead">жанр | рік</p>
                    </div>
                  </a>
                </li>
            </ul>
        </div>    
    </section>
</main>