<!-- modal_film -->

<div class="backdrop is-hidden" data-film>
  <div class="modal-film">
    <button class="modal-film__btn close-button" data-film-close>
      <span hidden>close</span>
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M8 8L22 22" stroke="black" stroke-width="2" />
        <path d="M8 22L22 8" stroke="black" stroke-width="2" />
      </svg>
    </button>
    <a href="" class="modal__watch">
      <img src="./images/card/no_poster.png" alt="poster" class="modal__img" />
    </a>
    <div class="modal-film__info" data-id="${id}">
      <div class="modal-film__id visually-hidden"></div>
      <h2 class="modal-film__title">name</h2>
      <div class="modal-film__description">
        <div>
          <ul class="modal-film__list-key list">
            <li class="modal-film__item">Vote / Votes</li>
            <li class="modal-film__item">Popularity</li>
            <li class="modal-film__item">Original Title</li>
            <li class="modal-film__item">Genre</li>
          </ul>
        </div>
        <div>
          <ul class="modal-film__list-vel list">
            <li class="modal-film__item">
              <span class="vote">11</span> |
              <span class="votes">11</span>
            </li>
            <li class="modal-film__item popularity">11</li>
            <li class="modal-film__item orig-title">11</li>
            <li class="modal-film__item genre">11</li>
          </ul>
        </div>
      </div>
      <div class="about">
        <h3 class="about__title">ABOUT</h3>
        <p class="about__text">text</p>
      </div>
      <div class="block-btn modal-wrapper" data-name="modal-wrapper">
        <button class="block-btn__add button-watched" data-action="watched">
          ADD TO WATCH
        </button>
        <button class="block-btn__add button-queue" data-action="queue">
          ADD TO QUEUE
        </button>
      </div>
    </div>
  </div>
</div>
