<!-- modal_film -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn" data-modal-close>
      <span hidden>close</span>
      <svg class="modal__icon">
        <!-- <use href="./images/modal_film/close.svg"></use> -->
      </svg>
    </button>
    <img src="./images/card/no_poster.png" alt="poster" class="modal_img" />
    <h2 class="modal__title">name</h2>
    <div class="modal__description">
      <div>
        <ul>
          <li>Vte / Votes</li>
          <li>Popularity</li>
          <li>Original Title</li>
          <li>Genre</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>11/11</li>
          <li>11</li>
          <li>11</li>
          <li>11</li>
        </ul>
      </div>
    </div>
    <div>
      <h3>ABOUT</h3>
      <p>text</p>
    </div>
    <div class="block-btn">
      <button class="modal__btn-add">ADD TO WATCHED</button>
      <button class="modal__btn-add">ADD TO QUEUE</button>
    </div>
  </div>
</div>
