<div class="container">
  <div class="pagination">
    <div class="pagination-left">
      <button type="button" class="prev-btn" id="button-prev"></button>
    </div>

    <div class="pagination-mid">
      <div class="first">
        <button type="button" class="pagination-btn" id="first-page">1</button>
        <span class="dots">...</span>
      </div>

      <ul class="pages list"></ul>

      <div class="last">
        <span class="dots">...</span>
        <button type="button" class="pagination-btn" id="last-page"></button>
      </div>
    </div>

    <div class="pagination-right">
      <button type="button" class="next-btn" id="button-next"></button>
    </div>
  </div>
</div>
