.footer {
  background: #f7f7f7;
  padding-top: 28.7px;
  padding-bottom: 29.7px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 28px;
  }

  &__info {
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #545454;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.17;
      margin-bottom: 0px;
    }
  }

  &__wrap {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    @media screen and (min-width: 768px) {
      margin-left: 5px;
      margin-top: 0px;
    }
  }

  &__icon {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.footer__ref {
  color: #545454;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ff6b08;
  }
}
