.header {
    padding-top: 40px;
    padding-bottom: 44px;

    background-repeat: no-repeat;

    background-image: url(../images/header/abstract-background-mobile@1x.png);
    background-position: center;
    background-size: 100% 100%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
        background-image: url(../images/header/abstract-background-mobile@2x.png);
    }

    @media screen and (min-width: 768px) {
        padding-top: 45px;
        background-image: url(../images/header/abstract-background-tablet@1x.png);
        background-position: center;
        background-size: 100% 100%;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {
            background-image: url(../images/header/abstract-background-tablet@2x.png);
        }
    }

    @media screen and (min-width: 1280px) {

        background-image: url(../images/header/abstract-background-desktop@1x.png);
        background-position: center;
        background-size: 100% 100%;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {
            background-image: url(../images/header/abstract-background-desktop@2x.png);
        }
    }
}

.container-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.logo-main {
    display: flex;
    gap: 10px;
    align-items: baseline;
    text-decoration: none;

    @media (min-width:1280px) {
        gap: 12px;
    }

    &__name {
        @media (max-width:767px) {
            display: none;
        }

        font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.17;
        align-items: center;
        text-align: center;
        color: var(--white);
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}

.menu-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
    margin: auto;
    padding: 0;

    &__item {
        text-align: center;
        align-items: baseline;

    }

    &__link {
        position: relative;
        display: block;

        font-family: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;

        align-items: baseline;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--white);

        &--current::after {
            position: absolute;
            display: block;
            content: "";
            width: 100%;
            height: 3px;
            bottom: 0px;
            background-color: var(--error-text);
            transform: translateY(100%);
        }

    }

    //     &__link:active,
    //     &__link:hover,
    //     &__link:focus {
    //         color: var(--error-text);
    //     }

    // &__button{
    //     background-color: transparent;
    //     border: none;
    //     cursor: pointer;
    // }
}



.search-form {

    width: 280px;
    padding-top: 54px;
    padding-bottom: 16px;

    margin: auto;

    @media screen and (min-width: 768px) {
        width: 336px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
    }

    &__input {
        width: 100%;
        min-height: 20px;

        background-color: transparent;
        border: none;
        border-bottom: 0.5px solid var(--white);
        margin: 0;
        outline: none;

        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        display: flex;
        align-items: center;
        color: var(--white);

        transition: border 250ms var(--timing-function);
    }

    &__button {
        position: relative;

        width: 20px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-bottom: 0.5px solid var(--white);
        padding: 10px;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 1px;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        cursor: pointer;
        opacity: 1;
    }

}

::placeholder {
    color: var(--white);
    opacity: 1;
}

.error-text {
    opacity: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    align-items: center;
    display: flex;
    color: var(--error-text);

    margin: auto;
    padding: 0;

    @media screen and (min-width: 768px) {
        width: 393px;
    }

}

// .login-form{
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
//     gap: 20px;
    
//     padding: 40px;
//     width: 450px;
//     margin-left: auto;
//     margin-right: auto;
    
        // @media screen and (min-width: 1200px) {
        //     width: 550px;
        // }

// &__title{
//         font-family: inherit;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 30px;
//         line-height: 1.17;
//         align-items: center;
//         text-align: center;
//         text-transform: uppercase;
//         color: var(--error-text);
// }

// &__button {
//     width: 100%;

//     color: var(--white);
//     font-family: inherit;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.88;
//     align-items: center;
//     text-align: center;
//     text-transform: uppercase;
//     letter-spacing: .06em;
//     background-color: transparent;
//     border-radius: 4px;
//     cursor: pointer;
//     padding: 10px 32px;
//     border: 1px solid;
// }

// &__button:active,
// &__button:hover,
// &__button:focus {
//     background-color: var(--error-text);
//     border: 1px solid transparent;
// }



// .form-field__input{
//     width: 100%;
//     min-height: 20px;
//     background-color: transparent;
    
//     border: none;
//     border-bottom: 0.5px solid var(--white);
//     outline: none;

//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.14;
//     align-items: center;
//     color: var(--white);
//     font-family: inherit;
    
// }

// .modal {

    // background-repeat: no-repeat;
    
    // background-image: url(../images/header/abstract-background-mobile@1x.png);
    // background-position: center;
    // background-size: 100% 100%;

    // @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 2dppx) {
    //         background-image: url(../images/header/abstract-background-mobile@2x.png);
    // }

    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: scaleX(1) translate(-50%, -50%);
    // min-width: 450px;
    // background-color: var(--backdrop-color);
    // box-shadow: 0px 4px 8px var(--white);
    // border-radius: 4px;
    // transition: var(--animation-duration), var(--timing-function); 
    // // @media screen and (min-width: 1200px){
    // //     min-width: 550px;
    // // }
// }