// modal
.backdrop {
    position: fixed;
    z-index: 1000;
    overflow-y: scroll;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-color);

    opacity: 1;
    transition: opacity 250ms --timing-function,
        visibility 250ms --timing-function;

        &.is-hidden .modal {
                transform: translate(-50%, -50%) scale(0.8);
            }
        
        &.is-hidden {
                opacity: 0;
                pointer-events: none;
            }
}

.modal-film {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    padding: 40px 20px;
    width: 280px;
   
    background-color: #fff;
  
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);
  
    @media screen and (min-width: 768px) {
      width: 704px;
      padding: 40px 36px;
      display: flex;
      gap: 68px;
    }

    @media screen and (min-width: 1024px) {
        width: 806px;
        padding: 40px 12px;
        gap: 16px;
      }
  }

  .modal-film__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 12px;
    line-height: 1.3;

    width: 32px;
    height: 32px;
 
    background-color: var(--white);
   
  
    border: none;
    cursor: pointer;
    // transition: background-color 250ms --timing-function;
  
    &:hover,
    &:focus {
      background-color: #fff;
      border: 2px solid #FF6B01;
    }
  }

  .modal-film__icon {
    width: 14px;
    height: 14px;

    background-size: contain;
}

  .modal-film__img {
    margin-top: 8px;
    width: 240px;
    height: 357px;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 264px;
        height: 374px;      
      }

    @media screen and (min-width: 1024px) {
        width: 375px;
        height: 478px;      
      }
  }

.modal-film__info {
    @media screen and (min-width: 768px) {
       width: 264px; 
    }

    @media screen and (min-width: 1024px) {
        width: 391px;    
      }    
}

  .modal-film__title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1,25;
    @media screen and (min-width: 768px) {
        margin-top: 0;
    }

    @media screen and (min-width: 1024px) {
        font-size: 30px;
        line-height: 1,16;
    }
  }

  .modal-film__description {
    display: flex;
    gap: 35px;
    margin-top: 20px;
  }

  .modal-film__item:nth-child(n + 2) {
    margin-top: 8px;

  }

  .modal-film__list-key {
    font-size: 12px;
    line-height: 1,3;

    color: var(--text-in-modal);
  }

  .modal-film__list-vel {
    font-size: 12px;
    line-height: 1.2;
    color: var(--black);

    & .vote {
        padding: 1px 10px;
        color: var(--white);
        background-color: var(--button-and-text-orange);

        border-radius: 5px;
    }
  }

.about{
    margin-top: 20px;
}

  .about-title {
    font-size: 12px;
    line-height: 1.3;
  }

  .about-text {
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.6;
  } 

  .block-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    @media screen and (min-width: 1024px)  {
       justify-content: start;
       gap: 15px;
    }
  }

  .block-btn__add {
    align-items: center;
    justify-content: center;

    width: 110px;
    height: 44px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--black);
    
    border-radius: 5px;

    @media screen and (min-width: 768px)  {
        width: 125px;
        height: 44px;
    }

    @media screen and (min-width: 1024px)  {
        width: 136px;
        height: 44px;
    }

    &:hover,
    &:focus {
        color: var(--white);
      background-color:  var(--button-and-text-orange);
      border-color: var(--button-and-text-orange);
    }
  }
  