.backdrop {
position: fixed;
z-index: 1000;
overflow-y: scroll;
top: 0;
left: 0;

width: 100%;
height: 100%; 

background-color: rgba(0, 0, 0, 0.2);

opacity: 1;
transibition: olacity 250ms 
cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
&.is-hidden .moddal{
transform: translate(-50%, -50%) scale(0.8);
}
&.is-hidden {
opacity: 0;
pointer-events: none;
}
}

.modal {
position: absolute;
top: 50%;
left: 50%;
z-index: 1000;
padding: 32px 20px;
width: 280px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
background-color: #fff;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__img {
margin-top: 48px;
width: 240px;
hight: 357px;
}
.modal__title {
margin-top: 20px;
}
.modal__description{
display: flex;
gap: 35px ;
}
.modal__btn {
position: absolute;
top: 16px;
right: 16px;
display: flex;
align-items: center;
justify-content: center;

width: 32px;
height: 32px;
background-color: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
border: none;
cursor: pointer;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




